@{
    ViewData["Title"] = "BistroBoss";
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
        <strong>@TempData["ErrorMessage"]</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
        <strong>@TempData["SuccessMessage"]</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="container py-5">
    <div class="text-center">
        <h1 class="display-3 fw-bold mb-3">Witaj w BistroBoss</h1>
        <p class="lead mb-4">Pyszne dania, świeżo przygotowane i dostarczone prosto do Twojego domu!</p>
        <p class="lead mb-4">Ty zamawiasz, my dostarczamy!</p>
    </div>
</div>