@model Koszyk
@* @{
    <div>
        <h1>Koszyk</h1>

        // @if(Model.Produkty.Count == 0)
        // {
        //     <p>Koszyk jest pusty</p>
        // }
        // else
        // {
        //     foreach(var produkt in Model.Produkty)
        //     {
        //         <p>@produkt.Nazwa</p>
        //     }
        // }
        
    </div>
}
 *@