@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Potwierdź zresetowanie hasła";
}

<h1>@ViewData["Title"]</h1>
<p>
    Twoje hasło zostało zresetowanie. Kliknij <a asp-page="./Login">tutaj, by się zalogować</a>.
</p>
