@model Produkt
@{
    ViewData["Title"] = "BistroBoss - Usunięcie produktu";
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
        <strong>@TempData["ErrorMessage"]</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
        <strong>@TempData["SuccessMessage"]</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<style>
    .card-header {
        background-color: #1a237e !important;
        color: white !important;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        text-align: center;
    }

        .card-header h3 {
            color: white !important;
        }

    .card {
        background-color: #444444 !important;
        color: white;
        border: none;
        border-radius: 10px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    }

    .card-body {
        background-color: #444444 !important;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .card .text-muted {
        color: #f1f1f1 !important;
    }

    .mb-0 {
        color: white;
    }
</style>

<div class="container py-3">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12">
            <div class="card shadow-lg border-0">
                <div class="card-header">
                    <h3 class="mb-0">Czy na pewno chcesz usunąć '@Model.Nazwa' z menu?</h3>
                </div>
                <div class="card-body text-center">
                    <form asp-action="Delete" method="post">
                        <input type="hidden" name="id" value="@Model.Id" />
                        <div class="d-flex justify-content-center gap-2">
                            <a asp-action="Index" asp-controller="Menu" class="btn btn-secondary">Anuluj</a>
                            <button type="submit" class="btn btn-danger">Potwierdź</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
